.wrapper {
    display: flex;
    flex-direction: column;
}

table {
    max-width: 600px;
    vertical-align: unset;
}

.header-button {
    padding: .05rem;
    font-weight: bold;
    border: none;
}

.toast {
    margin-top: 0.5rem;
}

.narrow {
    max-width: 40px;
    padding-right: 3.5rem;
}