table {
    width: auto;
    vertical-align: unset;
}

.header-button {
    padding: .05rem;
    font-weight: bold;
    border: none;
}

.invisible {
    visibility: hidden;
}

.visible {
    display: block;
}

.toast {
    margin-top: 0.5rem;
}

nav {
    padding-bottom: 1rem;
}