@page "/createword"
@using System.Net.Http
@using Models
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager

<div>
    <EditForm Model="@WordToSubmit" OnValidSubmit="@OnSubmit" class="mb-3">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p>
            <label>
                Po polsku:
                <InputText class="form-control" @bind-Value="WordToSubmit.InPolish" />
            </label>
        </p>
        <p>
            <label>
                Po warmińsku
                <InputText class="form-control" @bind-Value="WordToSubmit.InWarmian" />
            </label>
        </p>
        <p>
            <label>
                Część mowy
                <InputSelect @bind-Value="WordToSubmit.PartOfSpeech" class="form-select">
                    <option>Wybierz część mowy...</option>
                    <option>Rzeczownik</option>
                    <option>Czasownik</option>
                    <option>Przymiotnik</option>
                    <option>Przysłówek</option>
                    <option>Liczebnik</option>
                    <option>Zaimek</option>
                    <option>Inna</option>
                </InputSelect>
            </label>
        </p>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </EditForm>
</div>

@code {
    private Word? WordToSubmit { get; set; } = new();
    public async void OnSubmit()
    {
        string request = $"/createword";
        var response = await Http.PostAsJsonAsync<Word>(Configuration["serviceEndpoint"] + request, WordToSubmit);
        NavigationManager.NavigateTo("words", true);
    }
}