@page "/"
@inject ISessionStorageService SessionStorageServices

<PageTitle>Słownik Polsko-Warmiński - Strona Główna</PageTitle>
<h1>Witajcie w słowniku warmińsko-polskim/polsko-warmińskim!</h1>

<div class="style-changer">
    <p><button type="button" class="btn btn-secondary btn-sm" @onclick="ChangeSearchBarStyle">Zmień styl search
            bara</button></p>
    <p><span>@(IsRadzenBlazorStyle ? "Radzen.Blazor" : "Mud Blazor")</span></p>
</div>
<div class="wrapper">
    <div class="search-bar">
        <Search IsRadzenBlazorStyle=@IsRadzenBlazorStyle></Search>
    </div>
    <div class="alert alert-info temporary" role="alert">
        <p>
            Żeby uzyskać dostęp do strony "Wszystkie słowa" i "Twoje
            kolekcje słów" podaj login:
            <strong>"user1@polwarmdictionary.onmicrosoft.com"</strong>
            oraz hasło: <strong>"ADTestowy1!!"</strong>.
        </p>
        <p>
            Żeby zalogwać się jako administrator i uzyskać dodatkowo
            dostęp do zawartości strony "Użytkownicy" podaj login:
            <strong>"admintestowy@polwarmdictionary.onmicrosoft.com"</strong> i hasło:
            <strong>"ADTestowy1!!"</strong>.
        </p>
    </div>
</div>

@code {
    private bool IsRadzenBlazorStyle { get; set; } = true;
    protected override void OnInitialized()
    {
        if (SessionStorageServices.GetItem<bool?>("isRadzenBlazorStyle") == false)
        {
            IsRadzenBlazorStyle = false;
        };
    }
    public void ChangeSearchBarStyle()
    {
        IsRadzenBlazorStyle = !IsRadzenBlazorStyle;
        SessionStorageServices.SetItem("isRadzenBlazorStyle", IsRadzenBlazorStyle);
    }

}