@page "/"
@inject ISessionStorageService SessionStorageServices

<PageTitle>Strona Główna</PageTitle>
<h1>Witajcie w słowniku warmińsko-polskim/polsko-warmińskim!</h1>

<div class="style-changer">
    <p><button type="button" class="btn btn-secondary btn-sm" @onclick="ChangeSearchBarStyle">Zmień styl search
            bara</button></p>
    <p><span>@(IsRadzenBlazorStyle ? "Radzen.Blazor" : "Mud Blazor")</span></p>
</div>
<div class="search-bar">
    <Search IsRadzenBlazorStyle=@IsRadzenBlazorStyle></Search>
</div>
<div>Żeby uzyskać dostęp do strony "Wszystkie słowa" podaj login:
    <strong>admintestowy@polwarmdictionary.onmicrosoft.com"</strong>"
    oraz hasło: <strong>"ADTestowy1!!"</strong>
</div>

@code {
    private bool IsRadzenBlazorStyle { get; set; } = true;
    protected override void OnInitialized()
    {
        if (SessionStorageServices.GetItem<bool?>("isRadzenBlazorStyle") == false)
        {
            IsRadzenBlazorStyle = false;
        };
    }
    public void ChangeSearchBarStyle()
    {
        IsRadzenBlazorStyle = !IsRadzenBlazorStyle;
        SessionStorageServices.SetItem("isRadzenBlazorStyle", IsRadzenBlazorStyle);
    }

}