@page "/wordgroups"
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Models
@attribute [Authorize]
@inject HttpClient Http
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject ISessionStorageService SessionStorageServices
@inject Endpoint Endpoint
@inject Sorting Sorting
@inject RequestMessageGenerator RequestMessageGenerator


<PageTitle>Twoje kolekcje słów</PageTitle>
@if (EditMode)
{
    <EditWordGroup WordGroup="WordGroupToEdit" BackToReadMode="BackToReadMode"></EditWordGroup>
}
else
{
    <h1>Wszystkie słowa ze słownika</h1>
    <div>
        @if (wordGroups == null)
        {
            if (ErrorHandleMessage != null)
            {
                @ErrorHandleMessage
            }
            else
            {
                <p><em>Wczytywanie...</em></p>
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            }
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button type="button" class="btn btn-outline-secondary btn-sm header-button">
                                Nazwa
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-outline-secondary btn-sm header-button">
                                Ilość słów
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var wordGroup in wordGroups)
                    {
                        <tr>
                            <td>@wordGroup.Name</td>
                            <td>@wordGroup.Words!.Count()</td>
                            <td class="narrow">
                                <button type="button" class="btn btn-primary btn-sm" @onclick=@(() => { WordGroupToEdit = wordGroup;
                        EditMode = true; })>Edytuj
                                </button>
                            </td>
                            <td class="narrow">
                                <button type="button" class="btn btn-danger btn-sm" @onclick=@(() =>
                                    DeleteClick(wordGroup)) data-bs-toggle="modal" data-bs-target="#deleteWordModal">Usuń</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <button type="button" class="btn btn-primary btn-sm" @onclick="ShowModal">Utwórz nową
                grupę</button>
            </div>
        }
    </div>


    <div class="modal fade" id="createCollectionModal" tabindex="-1" aria-labelledby="createCollectionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCollectionModalLabel">Nowa kolekcja</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <EditWordGroup CreateForm="true" BackToReadMode="BackToReadMode"></EditWordGroup>
                </div>
            </div>
        </div>
    </div>
}

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast bg-info" id="actionToast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Uwtorzenie/edycja kolekcji słów powiodła sie.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteWordModal" tabindex="-1" aria-labelledby="deleteWordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteWordModalLabel">Usuwanie słowa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Na pewno chcesz usunąć kolekcję <em>@wordGroupToDelete?.Name</em>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="DeleteWord">Tak</button>
            </div>
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    public Error? Error { get; set; }
    private RenderFragment? ErrorHandleMessage { get; set; }
    private List<WordGroup>? wordGroups;
    private bool EditMode { get; set; }
    public WordGroup? WordGroupToEdit { get; set; }
    private WordGroup? wordGroupToDelete;
    private bool isModalShowed = false;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GetWordGroups();
        }
        catch (Exception ex)
        {
            ErrorHandleMessage = Error?.HandleError(ex);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (SessionStorageServices.GetItem<bool?>("actionSucceeded") == true)
        {
            var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/WordGroups.razor.js");
            await module.InvokeVoidAsync("showActionToast");
            if (module is not null) await module.DisposeAsync();
            SessionStorageServices.SetItem("actionSucceeded", false);
        }
    }

    private async Task BackToReadMode(bool loadGroups)
    {
        if (isModalShowed) await HideModal();
        EditMode = false;
        if (loadGroups)
        {
            wordGroups = null;
            await GetWordGroups();
        }
    }

    private async Task ShowModal()
    {
        var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/WordGroups.razor.js");
        await module.InvokeVoidAsync("showModal");
        if (module is not null) await module.DisposeAsync();
        isModalShowed = true;
    }

    private async Task HideModal()
    {
        var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/WordGroups.razor.js");
        await module.InvokeVoidAsync("hideModal");
        if (module is not null) await module.DisposeAsync();
        isModalShowed = false;
    }
    
    private async Task GetWordGroups()
    {
        try
        {
            string requestUri = Endpoint.Url + $"/wordgroup/getallwordgroups";
            var requestMessage = await RequestMessageGenerator.GetHttpRequestMessage(HttpMethod.Get, requestUri);
            var getResponse = await Http.SendAsync(requestMessage);
            if (getResponse.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                        Nie masz jeszcze utworzonych żadnych kolekcji słów
                    </div>
                };
            }
            else if (!getResponse.IsSuccessStatusCode)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                        Pobranie kolekcji słów się nie powiodło - <em>{getResponse.StatusCode}</em>
                    </div>
                };
                return;
            }

            wordGroups = await getResponse.Content.ReadFromJsonAsync<List<WordGroup>>();
        }
        catch (Exception ex)
        {
            ErrorHandleMessage = Error?.HandleError(ex);
        }
    }

    public void DeleteClick(WordGroup wordGroup)
    {
        wordGroupToDelete = wordGroup;
    }

    public async Task DeleteWord()
    {
        try
        {
            string requestUri = Endpoint.Url + $"/wordgroup/deletewordgroup?wordGroupId={wordGroupToDelete!.WordGroupId}";
            var requestMessage = await RequestMessageGenerator.GetHttpRequestMessage(HttpMethod.Delete, requestUri);
            var deleteResponse = await Http.SendAsync(requestMessage);
            if (deleteResponse.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                    Nie znaleziono kolekcji "@wordGroupToDelete.Name" w bazie danych
                    </div>
                };
            }
            else if (!deleteResponse.IsSuccessStatusCode)
            {
                ErrorHandleMessage = __builder =>
                {
                    <div class="alert alert-warning" role="alert">
                    Usunięcie kolekcje się nie powiodło - <em>{response.StatusCode}</em>
                    </div>
                };
                return;
            }
            await GetWordGroups();
        }
        catch(Exception ex)
        {
            ErrorHandleMessage = Error?.HandleError(ex);
        }
    }
}