table {
    max-width: 600px;
    vertical-align: unset;
}

th {
    padding-left: 4px;
    padding-right: 4px;
}

td {
    padding-left: 4px;
    padding-right: 4px;
}

.header-button {
    padding: .05rem;
    font-weight: bold;
    border: none;
}

.toast {
    margin-top: 0.5rem;
}