@using Microsoft.Extensions.Logging
@inject ILogger<Error> Logger
@inject IStringLocalizer<Localization.Localization> Loc

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public RenderFragment HandleError(Exception? ex = null, string? errorMessage = null, string? logText = "", string
    alertType = "warning")
    {
        if (ex is not null)
        {
            errorMessage = Loc["ErrorDefaultError"] + " " + ex.GetType();
            Logger.LogError(ex, "Error");
            alertType = "danger";
        }

        if (logText != String.Empty) Logger.LogError(logText);

        RenderFragment errorRenderFragment = __builder =>
        {
            <div class="alert alert-@alertType" role="alert">
                <p>@errorMessage</p>
            </div>

        };
        return errorRenderFragment;
    }
}