@using Microsoft.Extensions.Logging
@inject ILogger<Error> Logger
@inject IStringLocalizer<Localization.Localization> Loc

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    private string? ErrorMessage { get; set; }
    public RenderFragment HandleError(Exception ex)
    {
        ErrorMessage = Loc["ErrorDefaultError"];

        Logger.LogError(ex, "Error");
        ChildContent = __builder =>
        {
            <div class="alert alert-danger" role="alert">
                <p>@ErrorMessage @ex.GetType()</p>
            </div>

        };
        return ChildContent;
    }
}