@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<Localization.Localization> Loc

<AuthorizeView>
    <Authorized>
        <div class="display-elements">
            <div class="greeting">@Loc["LoginDisplayGreeting"]@context.User.Identity?.Name!</div>
            <RadzenButton type="button" Click="BeginLogout" Size="ButtonSize.ExtraSmall"
                ButtonStyle="ButtonStyle.Secondary">@Loc["LoginDisplayLogin"]
            </RadzenButton>
        </div>
    </Authorized>
    <NotAuthorized>
        <RadzenButton type="button" Click="Login" Size="ButtonSize.ExtraSmall" ButtonStyle="ButtonStyle.Secondary">
            @Loc["LoginDisplayLogout"]</RadzenButton>
    </NotAuthorized>

</AuthorizeView>

@code {
    private async Task BeginLogout()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
    private void Login()
    {
        Navigation.NavigateTo("authentication/login");
    }
}
