@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<Localization.Localization> Loc

<AuthorizeView>
    <Authorized>
        <div class="display-elements">
            <div class="greeting">@Loc["LoginDisplayGreeting"]@context.User.Identity?.Name!</div>
            <button class="nav-link btn btn-link" @onclick="BeginLogout">@Loc["LoginDisplayLogin"]</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">@Loc["LoginDisplayLogout"]</a>
    </NotAuthorized>

</AuthorizeView>

@code {
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
