<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Słownik Polsko-Warmiński</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Szukaj
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allwords">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wszystkie słowa
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="wordgroups">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Twoje kolekcje słów
                    </NavLink>
                </div>
                @if (@context.User.Identity!.Name == "Admin Testowy")
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="users">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Użytkownicy
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interestingfacts">
                <span class="oi oi-eye" aria-hidden="true"></span> Ciekawostki o języku
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="warmiantexts">
                <span class="oi oi-book" aria-hidden="true"></span> Teksty po warmińsku
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
